.guest-name-box {
  opacity: 1;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.6s ease-in-out, max-height 0.6s ease-in-out;
}

.guest-name-box.show {
  opacity:1;
  max-height: 100px; 
  min-width: 100%;
}
